NET Clk LOC = A10 | IOSTANDARD = LVCMOS33;
NET "Leds(0)" LOC = A14 | IOSTANDARD = LVCMOS33;
NET "Leds(1)" LOC = B14 | IOSTANDARD = LVCMOS33;
NET "Leds(2)" LOC = C13 | IOSTANDARD = LVCMOS33;
NET Reset LOC = R7 | IOSTANDARD = LVCMOS33;